<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unibas.convertitore" >

    <application
        android:name="it.unibas.convertitore.Applicazione"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.ActivityPrincipale"
            android:label="@string/app_name"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ActivityImpostazioni"
            android:label="@string/impostazioni"
            android:parentActivityName=".activity.ActivityPrincipale"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unibas.convertitore.activity.ActivityPrincipale" />
        </activity>
    </application>

</manifest>
